body{
    text-align: center;
}

#main-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-top: 100px;
}

#avatars{
   display: flex; 
   justify-content: space-evenly;
}

.pokemon-sprite{
 height: 200px;
 width: 200px;
}